.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5;
  list-style-type: none;
  margin-top: 7rem;
}

.page-number {
  text-decoration: none;
  color: var(--color-text-primary);
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.active {
  color: #fff;
  background: var(--color-primary);
  border-radius: 3px;
}

/* MOBILE STYLES */
@media screen and (max-width: 650px) {
  .pagination {
    padding: 0.8rem;
    gap: 0.3rem;
  }
  .page-number {
    padding: 0.3rem 0.8rem;
    font-size: 1.6rem;
  }
}
