.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 5rem;
  margin: 2rem 0;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn-group {
  display: flex;
  gap: 2rem;
}

.btn {
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-small {
  padding: 1rem 2.5rem;
}

.btn-color {
  color: #fff;
  background: var(--color-primary);
}

.btn-color:hover {
  background: #6868d1;
}

.filter-group {
  border: none;
  border-radius: 6px;
  background: #fff;
  box-shadow: 12px 14px 8px -10px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 380px;
}

.control {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

.filter-btn-group {
  display: flex;
  gap: 1.3rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.2rem;
  width: 100%;
}
